<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Welcome to Hungry Souls</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @*For MapBox *@
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Content/Images/Home icon.jpg" height="30" width="65">
                </a>
                @Html.ActionLink("Hungry Souls", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Home")</li>

                    @if (User.IsInRole("Client"))
                    {
                        <li>@Html.ActionLink("Booking", "Create", "Bookings")</li>
                        <li>@Html.ActionLink("Rate Your Meals", "Create", "Reviews")</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Booking", "Index", "Bookings")</li>
                        <li>@Html.ActionLink("Client List", "Index", "Clients")</li>
                        <li>@Html.ActionLink("Staff List", "Index", "Staffs")</li>
                        <li>@Html.ActionLink("Review", "Index", "Reviews")</li>
                        <li>@Html.ActionLink("Email", "Contact", "Home")</li>
                    }
                    @if (User.IsInRole("Staff"))
                    {
                        <li>@Html.ActionLink("Booking", "Index", "Bookings")</li>
                        <li>@Html.ActionLink("Client List", "Index", "Clients")</li>
                        <li>@Html.ActionLink("Review", "Index", "Reviews")</li>
                    }
                    <li>@Html.ActionLink("Location", "Index", "Locations")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <footer>
           @* <p class="line"></p> *@
            <p>Contact Us</p>
            <p>123 Hungry Street</p>
            <p>Melbourne, Victoria</p>
            <p>Follow Us @@</p>
            <div class="b">
                <a href="https://www.facebook.com/">
                    <div type="button" style="padding: 5px 5px;">
                        <img src="~/Content/Images/facebook.jpg" style="width:50px;height:50px;" />
                    </div>
                </a>
            </div>
            <div class="b">
                <a href="https://www.instagram.com/">
                    <div type="button" style="padding: 5px 5px;">
                        <img src="~/Content/Images/instagram.jpg" style="width:50px;height:50px;" />
                    </div>
                </a>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
.navbar-brand
{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 20px;
border-style:unset;
border-radius: 12px;
}

.navbar-inverse .navbar-nav >li 
{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 16px;
border-style:unset;
border-radius: 25px;
}
    body {
        background-color: antiquewhite;
    }

    .p{
       font-family:"Comic Sans MS", cursive, sans-serif;  
       font-style: italic;
       text-align:center;
    }
    .b{
        float:left;
    }
</style>

