@model HungrySouls_demo1.Models.Staff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staff_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rates)
        </dt>

        <dd>
            @{ 
                if (Model.Rates.Count > 0)
                {
                <p>The overall rating score is @Model.OverallRating</p>
                }
                else
                {
                    <p>Be the first to Rate</p>
                }
                }
            @{ using (Html.BeginForm("SetRating", "Ratings"))
                {
                    @Html.HiddenFor(x=>x.StaffID)
                    for(int i=0; i<10; i++) 
                    {
                        <input type="radio" id="Rank" name="Rank" value="@i"/> @i
                    }
                    <input type="submit" value="Submit"/>
                } 

            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
